.portfolio-container {
  background-color: rgb(222, 222, 222);
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8vh;
  height: fit-content;
  min-height: 70vh;
}

.project-card {
  width: clamp(200px, 20vw, 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  color: black;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.55);
  transition: transform 200ms ease-in-out;
}

.project-card:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: center;
    column-gap: 5vw;
  }
}

@media only screen and (min-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: center;
    column-gap: 8vw;
  }
}

.card-image {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.link-container {
  display: flex;
  flex-direction: column;
  height: 25%;
  margin-top: 20px;
  align-items: center;
}
.card-link {
  color: var(--accent-primary);
  font-weight: bold;
  font-size: clamp(18px, 2.5vw, 24px);
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 1.2vw;
  transition: all 200ms ease-in-out;
}

.card-link:hover {
  color: black;
  transform: scale(1.03);
}

.card-github {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.card-github-icon {
  font-size: clamp(28px, 5vw, 40px);
}

.card-github {
  color: black;
}

.card-github:hover {
  transform: scale(1.1);
}

.card-github-text {
  font-size: 14px;
}

.card-title {
  text-align: center;
  font-size: clamp(16px, 4.5vw, 50px);
}

.card-description {
  text-align: center;
}

.portfolio-title {
  color: var(--accent-primary);
}
